apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    features.operators.openshift.io/disconnected: "true"
    features.operators.openshift.io/fips-compliant: "true"
    features.operators.openshift.io/proxy-aware: "false"
    features.operators.openshift.io/tls-profiles: "false"
    features.operators.openshift.io/token-auth-aws: "false"
    features.operators.openshift.io/token-auth-azure: "false"
    features.operators.openshift.io/token-auth-gcp: "false"
    operatorframework.io/suggested-namespace: openstack
    operators.operatorframework.io/operator-type: non-standalone
  name: ironic-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: IronicAPI is the Schema for the ironicapis API
      displayName: Ironic API
      kind: IronicAPI
      name: ironicapis.ironic.openstack.org
      specDescriptors:
      - description: TLS - Parameters related to the TLS
        displayName: TLS
        path: tls
      version: v1beta1
    - description: IronicConductor is the Schema for the ironicconductors Conductor
      displayName: Ironic Conductor
      kind: IronicConductor
      name: ironicconductors.ironic.openstack.org
      specDescriptors:
      - description: TLS - Parameters related to the TLS
        displayName: TLS
        path: tls
      version: v1beta1
    - description: IronicInspector is the Schema for the IronicInspector
      displayName: Ironic Inspector
      kind: IronicInspector
      name: ironicinspectors.ironic.openstack.org
      specDescriptors:
      - description: TLS - Parameters related to the TLS
        displayName: TLS
        path: tls
      version: v1beta1
    - description: IronicNeutronAgent is the Schema for the ML2 baremetal - ironic-neutron-agent
        agents
      displayName: Ironic Neutron Agent
      kind: IronicNeutronAgent
      name: ironicneutronagents.ironic.openstack.org
      specDescriptors:
      - description: TLS - Parameters related to the TLS
        displayName: TLS
        path: tls
      version: v1beta1
    - description: Ironic is the Schema for the ironics API
      displayName: Ironic
      kind: Ironic
      name: ironics.ironic.openstack.org
      specDescriptors:
      - description: TLS - Parameters related to the TLS
        displayName: TLS
        path: ironicAPI.tls
      - description: TLS - Parameters related to the TLS
        displayName: TLS
        path: ironicInspector.tls
      version: v1beta1
  description: Ironic Operator
  displayName: Ironic Operator
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - OpenStack
  - Identity
  - Ironic
  links:
  - name: Ironic Operator
    url: https://github.com/openstack-k8s-operators/ironic-operator
  maturity: beta
  provider:
    name: Red Hat Inc.
    url: https://redhat.com/
  version: 0.0.0
