---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: ironicconductors.ironic.openstack.org
spec:
  group: ironic.openstack.org
  names:
    kind: IronicConductor
    listKind: IronicConductorList
    plural: ironicconductors
    singular: ironicconductor
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Status
      jsonPath: .status.conditions[0].status
      name: Status
      type: string
    - description: Message
      jsonPath: .status.conditions[0].message
      name: Message
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: IronicConductor is the Schema for the ironicconductors Conductor
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: IronicConductorSpec defines the desired state of IronicConductor
            properties:
              containerImage:
                description: ContainerImage - Ironic Conductor Container Image URL
                type: string
              customServiceConfig:
                default: '# add your customization here'
                description: CustomServiceConfig - customize the service config using
                  this parameter to change service defaults, or overwrite rendered
                  information using raw OpenStack config format. The content gets
                  added to to /etc/<service>/<service>.conf.d directory as custom.conf
                  file.
                type: string
              databaseHostname:
                description: DatabaseHostname - Ironic Database Hostname
                type: string
              databaseUser:
                default: ironic
                description: 'DatabaseUser - optional username used for ironic DB,
                  defaults to ironic TODO: -> implement needs work in mariadb-operator,
                  right now only ironic'
                type: string
              debug:
                description: Debug - enable debug for different deploy stages. If
                  an init container is used, it runs and the actual action pod gets
                  started with sleep infinity
                properties:
                  bootstrap:
                    default: false
                    description: ReadyCount enable debug
                    type: boolean
                  dbSync:
                    default: false
                    description: DBSync enable debug
                    type: boolean
                  service:
                    default: false
                    description: Service enable debug
                    type: boolean
                type: object
              defaultConfigOverwrite:
                additionalProperties:
                  type: string
                description: 'ConfigOverwrite - interface to overwrite default config
                  files like e.g. policy.json. But can also be used to add additional
                  files. Those get added to the service config dir in /etc/<service>
                  . TODO: -> implement'
                type: object
              dhcpRange:
                description: DHCPRange - DHCP range to use for provisioning
                properties:
                  end:
                    description: End - End of DHCP range
                    type: string
                  start:
                    description: Start - Start of DHCP range
                    type: string
                type: object
              nodeProvisioningAddresses:
                additionalProperties:
                  items:
                    type: string
                  type: array
                description: NodeProvisioningAddresses Map of nodes to node host network
                  IP addresses to bind for TFTP/DHCP/HTTP provisioning services
                type: object
              nodeSelector:
                additionalProperties:
                  type: string
                description: NodeSelector to target subset of worker nodes for running
                  the Conductor service
                type: object
              passwordSelectors:
                description: PasswordSelectors - Selectors to identify the DB and
                  AdminUser password and TransportURL from the Secret
                properties:
                  admin:
                    default: IronicPassword
                    description: Database - Selector to get the ironic service password
                      from the Secret
                    type: string
                  database:
                    default: IronicDatabasePassword
                    description: 'Database - Selector to get the ironic Database user
                      password from the Secret TODO: not used, need change in mariadb-operator'
                    type: string
                type: object
              provisioningInterface:
                description: ProvisioningInterface - Host network interface used by
                  Ironic, TFTP, DHCP and HTTP
                type: string
              pxeContainerImage:
                description: PxeContainerImage - Ironic DHCP/TFTP/HTTP Container Image
                  URL
                type: string
              replicas:
                default: 1
                description: Replicas - Ironic Conductor Replicas
                format: int32
                type: integer
              resources:
                description: Resources - Compute Resources required by this service
                  (Limits/Requests). https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
                properties:
                  limits:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: 'Limits describes the maximum amount of compute resources
                      allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                    type: object
                  requests:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: 'Requests describes the minimum amount of compute
                      resources required. If Requests is omitted for a container,
                      it defaults to Limits if that is explicitly specified, otherwise
                      to an implementation-defined value. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                    type: object
                type: object
              secret:
                description: Secret containing OpenStack password information for
                  IronicDatabasePassword, AdminPassword
                type: string
              serviceUser:
                default: ironic
                description: ServiceUser - optional username used for this service
                  to register in ironic
                type: string
              standalone:
                default: true
                description: 'Whether to deploy a single node standalone Ironic. TODO:
                  -> not implemented, always standalone for now'
                type: boolean
            type: object
          status:
            description: IronicConductorStatus defines the observed state of IronicConductor
            properties:
              conditions:
                description: Conditions
                items:
                  description: Condition defines an observation of a API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase.
                      type: string
                    severity:
                      description: Severity provides a classification of Reason code,
                        so the current situation is immediately understandable and
                        could act accordingly. It is meant for situations where Status=False
                        and it should be indicated if it is just informational, warning
                        (next reconciliation might fix it) or an error (e.g. DB create
                        issue and no actions to automatically resolve the issue can/should
                        be done). For conditions where Status=Unknown or Status=True
                        the Severity should be SeverityNone.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              hash:
                additionalProperties:
                  type: string
                description: Map of hashes to track e.g. job status
                type: object
              readyCount:
                description: ReadyCount of ironic Conductor instances
                format: int32
                type: integer
              serviceIDs:
                additionalProperties:
                  type: string
                description: ServiceIDs
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
